
<h2>Listing Details</h2>


<!-- <img src="http://pngimg.com/uploads/cat/cat_PNG50497.png" alt="Girl in a jacket"> -->
<!-- <div><img src= "https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg?w=1000&h=563&crop=1"></img></div> -->
<!-- <img src="./bungalo1.jpg"> -->
<div><img src="<%= @listing.house_pic %>"></img></div>
<!-- <div><img src="https://photos.zillowstatic.com/cc_ft_1536/ISifv57uv3js720000000000.webp"></img></div> -->


<!--"https://s-i.huffpost.com/gen/2028878/images/n-UPROXX-628x314.jpg"-->

  <h3> <%= @listing.title %> <h3>

  <h3> Price: <%= @listing.price %> </h3>

  <h3> Address: <%= @listing.house_number %> <%= @listing.street %> <%= @listing.city %> <%= @listing.state %><%= @listing.zip %>

  <h4> About: <%= @listing.description %>

  <h4> Date Listed: <%= @listing.date_listed %>

  <h4> Date Sold: <%= @listing.date_sold %>

  <h4> Days on Market: have to wait until get the dates figured out</h4>

<!--<p><label>Favorite:</label>-->




  <!--render delete button-->
  <p><%= form_for(@listing, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>
