
<h2>Listing Details</h2>

  <div><img src="<%= @listing.house_pic %>"></img></div>

  <h3> <%= @listing.title %> <h3>

  <h3> Price: <%= number_to_currency(@listing.price) %> </h3>

  <h3> Address: <%= @listing.house_number %> <%= @listing.street %> <%= @listing.city %> <%= @listing.state %><%= @listing.zip %> <h3>

  <h4> About: <%= @listing.description %> <h4>

  <h4> Date Listed: <%= @listing.date_listed.strftime("%m/%d/%Y") %> <h4>

  <h4> Date Sold: <%= @listing.date_sold ? @listing.date_sold.strftime("%m/%d/%Y") : "This listing has not sold." %> <h4>

  <h4> Days on Market: <%= @listing.days_on_market.count %> <h4>

  <%= link_to("favorite", new_favorite_path(listing_id: @listing.id, buyer: current_buyer))%>

  <!--render delete button-->
  <p><%= form_for(@listing, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>
