
<h2>Edit Buyer Details</h2>

<%= form_for(@buyer) do |f| %>

    <p><label>Name:</label>
    <%= f.text_field :name %></p>

    <p><label>Email:</label>
    <%= f.email_field :email %></p>

    <p><label>Phone:</label>
    <%= f.number_field :phone %></p>

    <p><label>Budget:</label>
    <%= f.number_field :budget %>

    <p><label>Number of Bedrooms:</label>
    <%= f.number_field :bedrooms  %></p>

    <p><label>Number of Bathrooms:</label>
    <%= f.number_field :bathrooms  %></p>

    <%= f.submit %>

<% end %>
