
<h2>Add a New Listing</h2>


<%= form_for(@listing) do |f| %>
  <p><label>Price:</label>
  <%= f.number_field :price %></p>

  <p><label>Title:</label>
  <%= f.text_field :title %></p>

  <p><label>Agent ID:</label>
  <%= f.text_field :agent_id %></p>

  <p><label>House Number:</label>
  <%= f.text_field :house_number %></p>

  <p><label>Street:</label><br>
  <%= f.text_field :@listing.street %>

  <p><label>City:</label>
  <%= f.text_field :city %>

  <p><label>State:</label>
  <%= f.text_field :state %>

  <p><label>Zip:</label>
  <%= f.text_field :zip %>

  <!--<p><label>List Date:</label>-->
  <%#= f.text_field :list_date %>

  <p><label>Add Image:</label>
  <%= f.text_field :city %>

  <p><label>Description:</label>
  <%= f.text_area :city %>

  <%= f.submit %>

<% end %>
