
<h2>Agency Details</h2>

  <h3>Agency: <%= @agency.agency_name %></h3>

  <h3>Year Founded: <%= @agency.year_founded %></h3>

  <!--render delete button-->
  <p><%= form_for(@agency, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <p><%= button_to "Edit", { :action => "edit" }, :method => :get %></p>

  <!-- Show all agents at this agency %> -->

  <h3> <%= "Our Agents have an average of #{@agency.average_agent_exp} years experience. Meet our agents:" %></h3>

  <% @agents.each do |agent| %>
     <% if @agency.id == agent.agency_id %>
    <h4><%= link_to agent.name, agent_path(agent) %></h4>
      <%end%>
  <%end%>

  <%#= button_to "Add Agent", { :action => new_agent_path }, :method => :get %>
  <%= link_to("Add Agent", new_agent_path) %>

  <!-- Show all listings at this agency %> -->
  <h3>Our Listings:</h3>

  <% @agency.agents.each do |agent| %>
    <% agent.listings.each do |listing| %>
        <p><%= link_to listing.title + ", " + number_to_currency(listing.price), listing_path(listing) %></p>
    <% end %>
  <% end%>
