
<h2>Agency Details</h2>

  <h3>Agency: <%= @agency.agency_name %></h3>

  <h3>Year Founded: <%= @agency.year_founded %>

  <!--render delete button-->
  <p><%= form_for(@agency, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <p><%= button_to "Edit", { :action => "edit" }, :method => :get %></p>

  <!-- Show all agents at this agency %> -->

  <p><% @agents.each do |agent| %>
     <%= link_to agent.name, agent_path(agent) %></p>
  <%end%>

  <%#= button_to "Add Agent", { :action => "agents/new" }, :method => :get %>

  <%#= button_to "Add Agent", { :action => new_agent_path }, :method => :get %>
  <%= link_to("Add Agent", new_agent_path) %>
