
<h2>Add a New Agent</h2>


<%= form_for(@agent) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :agency %>
  <%= f.collection_select :agency_id, Agency.all, :id, :agency_name%><br>

  <%= f.label :years_experience %>
  <%= f.text_field :years_exp %><br>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :phone %>
  <%= f.text_field :phone  %><br>

  <%= f.submit %>
<% end %>
