
<h2>Agent Details</h2>

  <h3>Agent: <%= @agent.name %></h3>

  <h3>Agency: <%= @agent.agency %>

  <h3>Years of Experience: <%= @agent.years_exp %>

  <h2>Contact

  <h3>Phone: <%= @agent.phone %>

  <h3>Email: <%= @agent.email %>

  <h3>My Listings:<h3>

    <% @agent.listings.each do |listing| %>
      <!-- <p><%= link_to agent.listing.agent_id, agent_path(agent) %></p> -->
    <%end%>

  <!--render delete button-->
  <p><%= form_for(@agent, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>
