
<h2>Agent Details</h2>

  <h3>Agent: <%= @agent.name %></h3>

  <!-- <h3>Agency: <%#= @agency.agency_name %> -->

  <h3>Years of Experience: <%= @agent.years_exp %>

  <h2>Contact

  <h3>Phone: <%= @agent.phone %>

  <h3>Email: <%= @agent.email %>

  <h3>My Listings:<h3>

    <% @listings.each do |listing| %>
      <% if listing.agent_id == @agent.id %>
          <p><%= link_to listing.title + ", " + number_to_currency(listing.price), listing_path(listing) %></p>
      <%end%>
    <%end%>

  <h3>Total: <%#=@agent.number_of_listings%>
  <!-- <h3>Total for sale: <%#=@agent.number_of_listings%>  -->
  <!-- <h3>Average days until sold: <%#=@agent.avg_market_days%> -->


  <!--render delete button-->
  <p><%= form_for(@agent, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>
 <h3>"add listing" button here</h3>
