
<h2>Buyer Details</h2>

  <h3>Buyer: <%= @buyer.name %></h3>

  <h3>Email: <%= @buyer.email %>

  <h3>Phone: <%= number_to_phone(@buyer.phone) %>

<h2>Requirements

  <h3>Budget: <%= number_to_currency(@buyer.budget)%>

  <h3>Number of Bedrooms: <%= @buyer.bedrooms %>

  <h3>Number of Bathrooms: <%= @buyer.bathrooms %>

  <!--render delete button-->
  <p><%= form_for(@buyer, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>

  <!--show all of my favs-->

<%# link_to("favorite", new_favorite_path(listing_id: @listing.id, buyer: current_buyer)) %>

  <% @favorites.each do |favorite| %>
     <% if favorite.buyer_id == @buyer.id  %>
    <h4><%= link_to favorite.listing.title, listing_path(favorite.listing) %></h4>
      <%end%>
  <%end%>
