
<h2>Buyer Details</h2>

  <h3>Buyer: <%= @buyer.name %></h3>

  <h3>Email: <%= @buyer.email %>

  <h3>Phone: <%= number_to_phone(@buyer.phone) %>

<h2>Requirements

  <h3>Budget: <%= number_to_currency(@buyer.budget)%>

  <h3>Number of Bedrooms: <%= @buyer.bedrooms %>

  <h3>Number of Bathrooms: <%= @buyer.bathrooms %>

  <!--render delete button-->
  <p><%= form_for(@buyer, :html => { :method => :delete, :remote => true }) do |f| %>
    <%= f.submit :value => "Delete" %>
  <%end%></p>

  <!--render edit button-->
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>

  <!--show all of my favs-->
  <% @favorites.each do |favorite| %>
     <% if @buyer.id == favorite.buyer_id %>
    <h4><%= listing.id.name, listing_path(listing) %></h4>
      <%end%>
  <%end%>
